<template name="menu">
  <div class="menu-wrapper clearfix" >
    <div class="title-wrapper">
      <img class="logo-icon" src="/lemon.png" />
      <div class="title">Bank of Lemon Bars</div>
    </div>
    <div class="menu-icons">
      <div class="col-1-4" id="eaten">
        <img class="nav-icon" src="/eaten.png"/>
      </div>
      <div class="col-1-4" id="balance">
        <img class="nav-icon" src="/bank.png"/>
      </div>
      <div class="col-1-4" id="deposit">
        <img class="nav-icon" src="/deposit.png"/>
      </div>
      <div class="col-1-4" id="withdraw">
        <img class="nav-icon" src="/withdraw.png"/>
      </div>
    </div>
  </div>
</template>