<template name="about">
  <div id="about-wrapper">
    <div class="bank-name">Bank of Lemon Bars</div>
    <p class="description">
      &#9;Founded in 2013, the Bank of Lemon Bars has long standing stability.
      Our customer service ratings have broken the scale, and we have never
      been accused of (or committed) any fraud. Any documents to the contrary
      have been expunged from the record. Open an account with us today!
      You'll never find a safer place for your lemon bars!
    </p>
    <div class="recipe">
      <h3>Lemon Bar Recipe</h3>
      <div class="underline">Ingredients:</div>
      <ul>
        <li>Thing</li>
        <li>Thing</li>
        <li>Thing</li>
        <li>Thing</li><li>Thing</li>
        <li>Thing</li>
        <li>Thing</li>
        <li>Thing</li>
        <li>Thing</li>
      </ul>
      <div class="underline">Directions:</div>
      <ol>
        <li>Thing</li>
        <li>Thing</li>
        <li>Thing</li>
        <li>Thing</li>
      </ol>

    </div>
  </div>
</template>