<template name="about">
  <div id="about-wrapper">
    <div class="bank-name">Bank of Lemon Bars</div>
    <div>
      <img class="lemon-bar-image" src="lemon-bars.jpg"/>
      <p class="description">
        &#9;Founded in 2013, the Bank of Lemon Bars has long standing stability.
        Our customer service ratings have broken the scale, and we have never
        been accused of (or committed) any fraud. Any documents to the contrary
        have been expunged from the record. Open an account with us today!
        You'll never find a safer place for your lemon bars!
      </p>
    </div>
    <div class="recipe">
      <h3>Lemon Bar Recipe</h3>
      <div class="servings">(Makes 36 servings)</div>
      <div class="underline">Ingredients:</div>
      <ul>
        <li>1 cup butter, softened</li>
        <li>1/2 cup white sugar</li>
        <li>2 cups all purpose flour</li>
        <li>1/4 t salt</li>
        <li>4 eggs</li>
        <li>1 1/2 cups white sugar</li>
        <li>1/4 cup all purpose flour + 1-2 T</li>
        <li>~ 4 lemons juiced (2/3 cup lemon juice) w/ 1 lime</li>
      </ul>
      <div class="underline">Directions:</div>
      <ol>
        <li>Preheat over to 350 degrees F (175 degrees C)</li>
        <li>In a medium bowl, blend together softened butter, 2 cups flour, 1/2 cup sugar and salt.
            Press into the bottom of an ungreased 9x13 inch pan.
        </li>
        <li>Bake for 15 to 20 minutes in the preheated over, or until firm and golden. In another
            bowl, whisk together the remaining 1 1/2 cups sugar and 1/4 cup flour. Whisk in the eggs
            and lemon juice. Pour over the baaked crust.
        </li>
        <li>Bake for an additional 20 minutes in the preheated oven. The bars will firm up as they
            cool. For a festive tray, make another pan using limes instead of lemons and adding a drop
            of green food coloring to give a very pale green. 
        </li>
      </ol>

    </div>
  </div>
</template>