/* Styles applicable to the current balance page */

@import "globals";

#balance-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

.curr-balance-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

#counter {
  margin-left: auto;
  margin-right: auto;
  font-size: 100pt;
  font-family: 'Londrina Shadow', cursive;
  color: $GREEN;
}

.money-icon {
  height: 100px;
}