/* Styles applicable to the whole app */

@import "globals";

html, body {
  width:100%;
  height:100%;
}

body {
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 20pt;
  color: $CHARCOAL;
}

#main-wrapper {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  border: 1px solid $YELLOW;
  border-radius: 5px;
  font-size: 12pt;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.button:hover {
  background-color: $YELLOW;
}