/* Styles applicable to the menu */

@import "globals";

.menu-wrapper {
  margin-right: auto;
  margin-left: auto;
  height: 7%;
  border-bottom: 1px solid $GRAY;
}

.nav-icon {
  max-height: 100%;
  padding: 10px;
}

.menu-wrapper .col-1-4 {
  height: 100%;
  border-right: 1px solid $GRAY;
  padding: 0px;
}

.icon-label {
  font-size: 12pt;
}

.selected {
  background-color: $YELLOW;  
  max-height: 100%; 
}