/* Styles applicable to the menu */

@import "globals";

.menu-wrapper {
  margin-right: auto;
  margin-left: auto;
  height: 40px;
  border-bottom: 1px solid $YELLOW;
}

.nav-icon {
  height: 40px;
  width: 40px; 
  padding: 5px;
  border-radius: 5px;
}

.icon-label {
  font-size: 12pt;
}

.menu-icons {
  box-sizing: content-box;
}

.selected {
  background-color: $YELLOW;  
  height: 40px;
  background-clip: content-box;
}