<template name="withdraw">
  <div id="withdraw-wrapper">
    <span class="page-name">Make a Withdrawal</span>
    <form class="new-withdrawal">
      Amount:
      <img class="money-icon" src="/lemon.png"/>
      <input type="number" name="withdrawAmount" min="0" max="5" step="0.25" value="1.00">
      <br>
      Reason:
      <input class="description" type="text" name="withdrawDescription" placeholder=
      "EX: putting them in my gullet."
      />
      <br>
      <input class="button" type="submit" value="Yummy!">
    </form>
  </div>
</template>